@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);

  --test: hsl(235, 40%, 32%);

  --color-purple-1: hsl(246, 80%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: var(--color-navy-950);
}

.profile-card {
  background-color: var(--color-purple-1);
  height: 130px;
  position: relative;
  z-index: 1;
}
.profile-picture {
  width: 70px;
  height: 70px;
  margin-left: -15px;
}

.profile-info p {
  opacity: 0.5;
}

.time-frame-card {
  background-color: var(--color-navy-900);
  height: 100px;
  margin-top: -30px;
  position: relative;
  z-index: 0;
}

.time-frame-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-purple);
  margin-top: 25px;
}

.time-frame-btn:hover {
  color: white;
}

.active-btn {
  color: white;
}

.time-card {
  background-color: var(--color-navy-900);
  color: white;
  margin-top: -32px;
  height: 120px;
}

.time-card:hover {
  background-color: var(--test);
  cursor: pointer;
}

.title {
  font-size: 1.125rem;
}

.current-hours {
  font-size: 2rem;
  font-weight: 300;
}

.previous-hours {
  color: var(--color-purple);
  font-size: 0.875rem;
}

.activity-icon {
  height: 70px;
}

.attribution {
  font-size: 14px;
  color: var(--color-navy-200);
  text-align: center;
  margin-top: 60px;
}

@media (min-width: 768px) {
  main {
    max-width: 1440px;
    min-height: 800px;
  }
  .profile-section {
    width: 280px;
    height: 350px;
    margin-top: 20px;
  }

  .profile-card {
    width: 100%;
    height: 100%;
  }

  .profile-picture {
    width: 85px;
    height: 85px;
  }

  .profile-info {
    margin-bottom: 2rem;

    h1 {
      font-size: 2.5rem;
    }
  }

  .time-frame-card {
    height: 180px;
    margin-top: -20px;
    button {
      font-size: 1.1rem;
      margin-top: 10px;
    }
  }

  .cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* gap: 1.5rem; */
  }

  .section-fitter {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 1.5rem;
  }

  .activity-card {
    width: 260px;
    height: 195px;
    margin-top: 20px;
  }

  .activity-card:nth-child(4),
  .activity-card:nth-child(5),
  .activity-card:nth-child(6) {
    margin-top: 50px;
  }

  .time-card {
    height: 100%;
  }

  .activity-icon {
    height: 78px;
  }

  .current-hours {
    font-size: 3.5rem;
  }
}
