@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
  --color-purple-1: hsl(246, 80%, 60%);
  --color-orange: hsl(15, 100%, 70%);
  --color-blue: hsl(195, 74%, 62%);
  --color-pink: hsl(348, 100%, 68%);
  --color-green: hsl(145, 58%, 55%);
  --color-purple: hsl(264, 64%, 52%);
  --color-yellow: hsl(43, 84%, 65%);

  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: var(--color-navy-950);
}

.profile-card {
  background-color: var(--color-purple-1);
  height: 140px;
}
.profile-picture {
  width: 70px;
  height: 70px;
}

.profile-info p {
  opacity: 0.5;
}

.time-frame-card {
  background-color: var(--color-navy-900);
  height: 100px;
  margin-top: -20px;
  z-index: -1;
}

.time-frame-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-purple);

  margin-top: 10px;
}
