@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);

  --color-purple-1: hsl(246, 80%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: var(--color-navy-950);
}

.profile-card {
  background-color: var(--color-purple-1);
  height: 130px;
}
.profile-picture {
  width: 70px;
  height: 70px;
  margin-left: -15px;
}

.profile-info p {
  opacity: 0.5;
}

.time-frame-card {
  background-color: var(--color-navy-900);
  height: 100px;
  margin-top: -30px;
  z-index: -1;
}

.time-frame-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-purple);

  margin-top: 25px;
}

.time-card {
  background-color: var(--color-navy-900);
  color: white;
  margin-top: -32px;
  height: 120px;
}

.title {
  font-size: 1.125rem;
}

.current-hours {
  font-size: 2rem;
  font-weight: 300;
}

.previous-hours {
  color: var(--color-purple);
  font-size: 0.875rem;
}

.activity-icon {
  height: 70px;
}
